*{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family: 'Courier New', Courier, monospace;
        }

        body{
            background-color:lavender;
            padding:30px;
        }

        .container{
            display:grid;
            grid-template-columns:1fr 2fr;
            gap:20px;
            max-width:1000px;
            margin:auto;
        }

        .sidebar{
            background:white;
            padding:20px;
            border-radius:10px;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
        }


        .main{
            background:white;
            padding:20px;
            border-radius:10px;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
        }

        .header{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            margin-bottom:20px;
        }

        .header h1{
            color:red;
        }

        .header p{
            color:darkred;
            margin:10px 0;
        }

        .header a{
            text-decoration:none;
            background:red;
            color:white;
            padding:10px 20px;
            border-radius:5px;
        }

        h2{
            color:darkblue;
            margin:15px 0 10px;
            border-bottom:2px solid gray;
            padding-bottom:5px;
        }

        ul{
            padding-left:20px;
        }

        .skills{
            display:flex;
            flex-wrap:wrap;
            gap:10px;
        }

        .skill{
            background:lightblue;
            padding:8px 15px;
            border-radius:20px;
        }
        .skill:hover{
            color: red;
            background:lightblue;
            padding:8px 15px;
            border-radius:20px;
        }